body{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 500px;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    border-radius: 15px;
    max-width: 170px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    margin: 10px;
    font-size: medium;
    border: none;
    background-color: rgb(205, 255, 226);
    text-align: center;
}


#key{
    display:grid ;
    grid-template-column: 3fr 3fr 3fr;
    column-gap: 30px;
    padding: 25px;
    margin: 10px;

}
button{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: aqua(0.10,20%);
    
    fornt-size: 3rem;
    fornt-weight:bold;
    cursor:pointer;
    
}
button:hover{
    background-color:blueviolet;
}
button:active{
    background-color: black;
}
.operator-btn{
    background-color: orange;
}
.operator-btn:hover{
    background-color:powderblue;
}
.operator-btn:active{
    background-color: pink;
}